<div id="footer">
  <ul class="footer">
    <!-- <li><a href="" class="welcome-open ui-link">Welcome</a></li> -->
    <li><a href="{{rt}}/login" class="ui-link">Login</a></li>
    <li><a href="{{rt}}/feedbacks/new">Feedback</a></li>
    <li><a href="{{rt}}/privacy-statement" class="ui-link">{{{i18n_privacy_statement}}}</a></li>
    <li><a href="{{rt}}/legal-notice" class="ui-link">{{{i18n_legal_notice}}}</a></li>
    <li><a href="{{rt}}/terms-of-use" class="ui-link">{{{i18n_terms_of_use}}}</a></li>
    <li><a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link" rel="external" target="_blank">
      <img src="{{rt}}/images/logo_project.png" alt="Creating Interfaces">
    </a></li>
    <li><a href="https://ddni.ro/wps/" class="partner-logo ui-link" rel="external" target="_blank">
      <img src="{{rt}}/images/logo_tulcea.png" alt="INCDDD">
    </a></li>
  </ul>
</div>
