<div id="footer">
  <ul class="footer">
    <li><a href="{{rt}}/privacy-statement" class="ui-link grid-item">Privacy Statement</a></li>
    <li><a href="{{rt}}/legal-notice" class="ui-link grid-item">Legal Notice</a></li>
    <li><a href="{{rt}}/terms-of-use" class="ui-link grid-item">Terms of Use</a></li>
    <li><a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link grid-item">
      <img src="{{rt}}/images/logo_project.png" alt="Creating Interfaces">
    </a></li>
    <li><a href="https://ddni.ro/wps/" class="partner-logo ui-link grid-item" rel="external" target="_blank">
      <img src="{{rt}}/images/logo_tulcea.png" alt="INCDDD">
    </a></li>
  </ul>
</div>
