<div id="welcome">
  <div class="modal-content ui-corner-all">
    <div data-role="header">
      <a href="#" class="welcome-close ui-btn ui-btn-right ui-btn-corner-all ui-icon-delete ui-btn-icon-notext ui-shadow">Icon only</a>
      <h1>{{{i18n_welcome_p1}}}</h1>
    </div>
    <div class="ui-content">
      <h4>{{{i18n_welcome_p2}}}</h4>
      <p>
        {{{i18n_welcome_p3}}}
      </p>
      <ul>
        <li>{{{i18n_welcome_p4}}}</li>
        <li>{{{i18n_welcome_p5}}}</li>
        <li>{{{i18n_welcome_p6}}}</li>
        <li>{{{i18n_welcome_p7}}}</li>
        <li>{{{i18n_welcome_p8}}}</li>
      </ul>
      <p>
        {{{i18n_welcome_p9}}}
        {{{i18n_welcome_p10}}}
      </p>
      <a class="welcome-close "data-role="button">{{{i18n_welcome_p11}}}</a>
    </div>
  </div>
</div>
