<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/consumers/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>{{{i18n_gender}}}</th>
              <td>{{{gender_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_age}}}</th>
              <td>{{{age_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_income}}}</th>
              <td>{{{income_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_big_store}}}</th>
              <td>{{{big_chain_store_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_local_store}}}</th>
              <td>{{{local_chain_store_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_small_shop}}}</th>
              <td>{{{small_shop_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_market}}}</th>
              <td>{{{market_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_main_transport}}}</th>
              <td>{{{transport_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_bio_use}}}</th>
              <td>{{{bio_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_product_origin}}}</th>
              <td>{{{local_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_tap_water}}}</th>
              <td>{{{tap_water_quantity}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_bottled_water}}}</th>
              <td>{{{bottled_water_quantity}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_waste_water}}}</th>
              <td>{{{waste_water_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_food_priorization}}}</th>
              <td>{{{priorization_label}}}</td>
            </tr>
          </table>
          <div class="ui-grid-a" style="padding-top: 50px">
            <div class="ui-block-a">
              <a href="{{rt}}/consumers/" data-role="button" data-icon="bars" data-direction="reverse">
                {{{i18n_show_consumers}}}
              </a>
            </div>
            <div class="ui-block-b">
              <a href="{{rt}}/consumers/new" data-role="button" data-icon="plus">
                {{{i18n_add_consumer}}}
              </a>
            </div>
          </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
