<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/feedbacks/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>{{{i18n_useful}}}</th>
              <td>{{{usability_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_attractive}}}</th>
              <td>{{{attractiveness_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_maps_helpful}}}</th>
              <td>{{{maps_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_clear_instruction}}}</th>
              <td>{{{clarity_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_main_attraction}}}</th>
              <td>{{{main_attraction}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_additional_functions}}}</th>
              <td>{{{other_function}}}</td>
            </tr>
          </table>
          <div class="ui-grid-a" style="padding-top: 50px">
            <div class="ui-block-a">
              <a href="{{rt}}/feedbacks/" data-role="button" data-icon="bars" data-direction="reverse">
                {{{i18n_show_feedbacks}}}
              </a>
            </div>
            <div class="ui-block-b">
              <a href="{{rt}}/feedbacks/new" data-role="button" data-icon="plus">
                {{{i18n_add_feedback}}}
              </a>
            </div>
          </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
