<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/feedbacks/{{id}}/edit" data-icon="edit" data-transition="flip">
          {{{i18n_edit}}}
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>{{{i18n_useful_info1}}}</th>
              <td>{{rank_info_menu}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_info2}}}</th>
              <td>{{rank_info_product}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_info3}}}</th>
              <td>{{rank_info_producer}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_info4}}}</th>
              <td>{{rank_info_place_of_origin}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_info5}}}</th>
              <td>{{rank_info_meal_rating}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_info6}}}</th>
              <td>{{rank_info_private_dish}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature1}}}</th>
              <td>{{rank_feature_see_menu}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature2}}}</th>
              <td>{{rank_feature_see_producer}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature3}}}</th>
              <td>{{rank_feature_see_product}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature4}}}</th>
              <td>{{rank_feature_add_rating}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature5}}}</th>
              <td>{{rank_feature_add_private_dish}}</td>
            </tr>
            <tr>
              <th>{{{i18n_useful_feature6}}}</th>
              <td>{{rank_feature_add_producer}}</td>
            </tr>
            <tr>
              <th>{{{i18n_tech_aspect1}}}</th>
              <td>{{{usability_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_tech_aspect2}}}</th>
              <td>{{{attractiveness_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_tech_aspect3}}}</th>
              <td>{{{maps_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_tech_aspect4}}}</th>
              <td>{{{clarity_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_data_usefulness_question}}}</th>
              <td>{{{usefulness_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_additional_functions}}}</th>
              <td>{{{comment}}}</td>
            </tr>
          </table>
          <div class="ui-grid-a" style="padding-top: 50px">
            <div class="ui-block-a">
              <a href="{{rt}}/feedbacks/" data-role="button" data-icon="bars" data-direction="reverse">
                {{{i18n_show_feedbacks}}}
              </a>
            </div>
            <div class="ui-block-b">
              <a href="{{rt}}/feedbacks/new" data-role="button" data-icon="plus">
                {{{i18n_add_feedback}}}
              </a>
            </div>
          </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
