<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>{{{i18n_food_p1}}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{{i18n_food_p1}}}</h1>
        {{>language}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <p>
          {{{i18n_food_p2}}}
        </p>
        <p>
          {{{i18n_food_p3}}}
        </p>
        <ul data-role="listview" data-inset="true">
          <li>
            <a href="{{rt}}/salepoints/new" data-role="button" data-icon="plus">{{{i18n_add_sale_point}}}</a>
          </li>
          <li>
            <a href="{{rt}}/salepoints" data-role="button" data-icon="bars">{{{i18n_sale_point_list}}}</a>
          </li>
          <li>
            <a href="{{rt}}/storagepoints/new" data-role="button" data-icon="plus">{{{i18n_add_storage_point}}}</a>
          </li>
          <li>
            <a href="{{rt}}/storagepoints" data-role="button" data-icon="bars">{{{i18n_storage_point_list}}}</a>
          </li>
          <li>
            <a href="{{rt}}/producers/new" data-role="button" data-icon="plus">{{{i18n_add_producer}}}</a>
          </li>
          <li>
            <a href="{{rt}}/producers" data-role="button" data-icon="bars">{{{i18n_producer_list}}}</a>
          </li>
          <li>
            <a href="{{rt}}/productionservices/new" data-role="button" data-icon="plus">{{{i18n_add_production_service}}}</a>
          </li>
          <li>
            <a href="{{rt}}/productionservices" data-role="button" data-icon="bars">{{{i18n_production_service_list}}}</a>
          </li>
          <li>
            <a href="{{rt}}/consumers/new" data-role="button" data-icon="plus">{{{i18n_add_consumer}}}</a>
          </li>
          <li>
            <a href="{{rt}}/consumers" data-role="button" data-icon="bars">{{{i18n_consumer_list}}}</a>
          </li>
        </ul>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
