<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!

To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="TulceaTool.appcache" -->
  <head>
    <title>Tulcea Tool</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Creating Interfaces - Tulcea</h1>
        {{>language}}
      </div>
      {{^is_authenticated}}
      <form action="{{svc}}/login" method="post" data-ajax="false"
          data-wq-json="true" data-wq-background-sync="false">
        {{>csrf}}
        <ul data-role="listview">
          <li>
            <p>Currently, this website is only open for authenticated users. Please insert your username and password to proceed.</p>
          </li>
          <li class="ui-field-contain">
            <label for="username">Username</label>
            <input name="username" id="username">
          </li>
          <li class="ui-field-contain">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
          </li>
          <li>
            <button type="submit" data-icon="check" data-theme="b">
              Submit
            </button>
            <p class="error login-errors"></p>
          </li>
        </ul>
      </form>
      {{/is_authenticated}}
      {{#is_authenticated}}
      {{>navbar}}
      <div role="main" class="ui-content">
        <div class="map detail-map" id="index-map"></div>
        {{>welcome}}
      </div>
      {{>footer}}
      {{/is_authenticated}}
    </div>
  </body>
</html>
