<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>{{{i18n_privacy_statement}}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{{i18n_privacy_statement}}}</h1>
        {{>language}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <h3>{{{i18n_privacy_statement1}}}</h3>
        <p>{{{i18n_privacy_statement2}}}</p>
        <p>{{{i18n_privacy_statement3}}}</p>
        <p>{{{i18n_privacy_statement4}}}</p>
        <p>{{{i18n_privacy_statement5}}}</p>
        <h4>{{{i18n_privacy_statement6}}}</h4>
        <p>{{{i18n_privacy_statement7}}}</p>
        <p>{{{i18n_privacy_statement8}}}</p>
        <p>{{{i18n_privacy_statement9}}}</p>
        <p>{{{i18n_privacy_statement10}}}</p>
        <p>{{{i18n_privacy_statement11}}}</p>
        <p>{{{i18n_privacy_statement12}}}</p>
        <p>{{{i18n_privacy_statement13}}}</p>
        <p>{{{i18n_privacy_statement14}}}</p>
        <p>{{{i18n_privacy_statement15}}}</p>
        <p>{{{i18n_privacy_statement16}}}</p>
        <p>{{{i18n_privacy_statement17}}}</p>
        <h3>{{{i18n_privacy_statement18}}}</h3>
        <p>{{{i18n_privacy_statement19}}}</p>
        <p>{{{i18n_privacy_statement20}}}</p>
        <p>{{{i18n_privacy_statement21}}}</p>
        <p>{{{i18n_privacy_statement22}}}</p>
        <p>{{{i18n_privacy_statement23}}}</p>
        <h4>{{{i18n_privacy_statement24}}}</h4>
        <p>{{{i18n_privacy_statement25}}}</p>
        <p>{{{i18n_privacy_statement26}}}</p>
        <p>{{{i18n_privacy_statement27}}}</p>
        <p>{{{i18n_privacy_statement28}}}</p>
        <h4>{{{i18n_privacy_statement29}}}</h4>
        <p>{{{i18n_privacy_statement30}}}</p>
        <h4>{{{i18n_privacy_statement31}}}</h4>
        <p>{{{i18n_privacy_statement32}}}</p>
        <p>{{{i18n_privacy_statement33}}}</p>
        <h4>{{{i18n_privacy_statement34}}}</h4>
        <p>{{{i18n_privacy_statement35}}}</p>
        <p>{{{i18n_privacy_statement36}}}</p>
        <p>{{{i18n_privacy_statement37}}}</p>
        <p>{{{i18n_privacy_statement38}}}</p>
        <p>{{{i18n_privacy_statement39}}}</p>
        <p>{{{i18n_privacy_statement40}}}</p>
        <p>{{{i18n_privacy_statement41}}}</p>
        <p>{{{i18n_privacy_statement42}}}</p>
        <p>{{{i18n_privacy_statement43}}}</p>
        <h4>{{{i18n_privacy_statement44}}}</h4>
        <p>{{{i18n_privacy_statement45}}}</p>
        <p>{{{i18n_privacy_statement46}}}</p>
        <p>{{{i18n_privacy_statement47}}}</p>
        <h4>{{{i18n_privacy_statement48}}}</h4>
        <p>{{{i18n_privacy_statement49}}}</p>
        <p>{{{i18n_privacy_statement50}}}</p>
        <p>{{{i18n_privacy_statement51}}}</p>
        <h4>{{{i18n_privacy_statement52}}}</h4>
        <p>{{{i18n_privacy_statement53}}}</p>
        <p>{{{i18n_privacy_statement54}}}</p>
        <h4>{{{i18n_privacy_statement55}}}</h4>
        <p>{{{i18n_privacy_statement56}}}</p>
        <h4>{{{i18n_privacy_statement57}}}</h4>
        <p>{{{i18n_privacy_statement58}}}</p>
        <h4>{{{i18n_privacy_statement59}}}</h4>
        <p>{{{i18n_privacy_statement60}}}</p>
        <h4>{{{i18n_privacy_statement61}}}</h4>
        <p>{{{i18n_privacy_statement62}}}</p>
        <h4>{{{i18n_privacy_statement63}}}</h4>
        <p>{{{i18n_privacy_statement64}}}</p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
