<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Privacy Statement</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Privacy Statement</h1>
        {{>language}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <h3>Data privacy statement</h3>
        <p>The protection of personal data is extremely important for the <b>Danube Delta National Institute for Research and Development</b> (hereinafter referred to as <b>INCDDD Tulcea</b>). We are aware of our responsibility to protect your personal data and treat them under current data protection regulations laws. Our privacy statement provides an overview of how we collect and process personal data, use your personal data and how we intentionally transmit data to third parties.</p>
        <p>We collect personal data when you use the <b>Creating Interfaces - Tulcea</b> website. Personal data is data that can be used to identify your person or that can be assigned to you (for example, name, e-mail address, IP address, telephone number). <b>The purpose of the collection is purely scientific and excludes in any way the commercial side.</b></p>
        <p>We have adopted technical and organizational measures to ensure that we and our external service providers comply with data confidentiality rules. There may be security breaches during the transfer of data over the Internet. Full protection against third party access is not possible.</p>
        <p>We treat your data confidentially. Our data privacy statement provides an overview of the data we collect, how and why we collect it.</p>
        <h4>Responsible persons</h4>
        <p>The parties responsible for data processing are</p>
        <p>NATIONAL INSTITUTE OF RESEARCH - DEVELOPMENT "DANUBE DELTA"</p>
        <p>Headquarters address: Babadag Street, no. 165, CP. 820112, Tulcea, Romania</p>
        <p>Working hours: Monday - Thursday: 8.00 - 16.30 / Friday: 8.00 - 14.00</p>
        <p>Phone (Secretariat): (+4) 0240 - 531 520</p>
        <p>Alternative telephone numbers: (+4) 0240 - 524 546/524 548/524 550</p>
        <p>Fax: (+4) 0240 - 533 547</p>
        <p>e-mail: office@ddni.ro</p>
        <p><a href="http://www.ddni.ro" target="_blank">http://www.ddni.ro</a></p>
        <p>Unique Registration Code 2646378</p>
        <p>Nr. Registration J36 / 290/2015</p>
        <h3>NOTICE OF LIABILITY</h3>
        <p>Legal representatives within the <b>Belmont-Creating Interfaces</b> Project: Dr.Ing. Iulian Nichersu</p>
        <p>Contact the data protection responsible via email: iulian.nichersu@ddni.ro</p>
        <p>We have a data protection officer assign for our institute inside the Belmont Creating Interfaces Project. If you have any questions or comments regarding the collection and processing of your personal data, please contact:</p>
        <p>Dr.Ing. Iulian Nichersu</p>
        <p>iulian.nichersu@ddni.ro</p>
        <h4>The rights of the person concerned</h4>
        <p>You have the right to request information about what kind of personal data we have stored and for what purpose they are used. You also have the right to correct or delete your personal data or to restrict its processing, as well as the right to oppose its processing. The right of opposition may also apply to certain processing of your personal data, such as direct e-mail marketing.</p>
        <p>You may object to the use of your personal data at any time by letter or e-mail to iulian.nichersu@ddni.ro.</p>
        <p>You also have the right to receive the relevant personal data that you have provided to us in a structured, standard and automatically readable format. At your request, we will forward your request to other responsible courts, as far as this is technically feasible.</p>
        <p>If you do not feel sufficiently supported by our company, you have the right to appeal to a supervisory authority.</p>
        <h4>Transmission of personal data to a third country</h4>
        <p>The transmission of data to third countries (countries outside the European Union and the EEA) is done in the framework of the performance of the contract, the execution of pre-contractual measures and the necessary communication, taking into account the Adequacy Resolution of the EU Commission.</p>
        <h4>Data storage time</h4>
        <p>To the extent necessary, we process and store your personal data during the <b>Belmont-Creating Interfaces</b> Project. The data will be deleted after the expiration of the legal, legal or contractual retention periods. We will delete data that is not subject to the retention requirement after the purpose limitation has ceased.</p>
        <p>Your personal data is collected either voluntarily (for example, through comments or contact forms), or automatically when you use the <b>Creating Interfaces - Tulcea</b> website. We collect these data for scientific purposes only, in order to highlight the existing or possible connections in the city of Tulcea between the three elements studied Food-Water-Energy.</p>
        <h4>General access</h4>
        <p>Each access to the Creating Interfaces - Tulcea website is recorded in a log file. The contents of log files are information received automatically by the browser:</p>
        <p>Browser type and version</p>
        <p>Operating system</p>
        <p>reviewer</p>
        <p>The host name of the accessing device</p>
        <p>Request time</p>
        <p>IP address.</p>
        <p>The data is used for statistical purposes, as well as to protect, optimize and suppress the interference of our web offer. Neither custom analysis nor profiling happens.</p>
        <p>We reserve the right to evaluate your access data in the event of attacks or other illegal uses.</p>
        <h4>Own content / content provided by third parties</h4>
        <p>When content is created, we save the name (s), date and actual content published based on your consent under the GDPR. In addition to the published data, we also save the IP address, to take legal action against illegal actions.</p>
        <p>We only save the appropriate content and data until they are completely deleted. Illegal content is deleted from the Creating Interfaces - Tulcea website.</p>
        <p>If you want to revoke your permission, you can do so with an informal email.</p>
        <h4>Cookies</h4>
        <p>Cookies are used to optimize a website and to improve your user experience. Cookies are small text files that your browser stores when you visit web pages and applications. Your browser downloads cookies the first time you visit a specific website. When you review this website with the same device, the data stored in the cookie is sent back to the website that created it. This, in particular, serves to make our web offerings easier to use, more efficient and more secure.</p>
        <p>You can specify how websites use cookies through the privacy settings in your browser (for more information on configuring cookie settings, see your browser's help function). You can also enable automatic deletion of cookies when you close your browser. However, this may lead to limited use of our web offerings.</p>
        <p>You can find detailed information about cookies on the Internet.</p>
        <h4>Externally loaded functions</h4>
        <p>When you upload the <b>Creating Interfaces - Tulcea</b> site, your browser may be loading fonts and features (JavaScript) from external CDN servers (content delivery networks). Your browser saves them in the cache so that they do not reappear unless your browser cache is cleared.</p>
        <p>Please note that when you invoke a CND server, your access data (IP address, browser, etc.) may be stored.</p>
        <h4>External links</h4>
        <p>We have created external links to the best knowledge and with the greatest possible care. However, they provide access to "foreign content", over which <b>INCDDD Tulcea</b> has little or no influence. The provider of the page to which our site links is solely responsible for damages and legal violations resulting from the use or non-use of "foreign content”.</p>
        <h4>Content on external platforms</h4>
        <p><b>INCDDD Tulcea</b> has no influence on data collection and subsequent use through social networks. We do not know to what extent, in what location and for what period of time the data is stored, to what extent the networks assume the responsibilities of deleting the data, what analyzes and links / connections are made with the data and to whom the data are transmitted.</p>
        <h4>Another contact</h4>
        <p>When you send us requests (e.g., paper letter, e-mail), we will store your data for correspondence purposes, as long as it is necessary to process and respond to your request. No disclosure to third parties will take place without explicit permission.</p>
        <h4>Changes to the data privacy statement</h4>
        <p>Changes to the data privacy statement may result from technical and organizational developments. As a result, we will adapt our data privacy statement from time to time to ensure compliance with current regulations. The new data privacy statement comes into force on the next visit to our offers.</p>
        <h4>Objection to advertising messages</h4>
        <p>We hereby oppose the use of contact information published under the obligation to provide a "loan" for the mailing of advertising material and information that has not been explicitly requested. <b>INCDDD Tulcea</b>, the operator of these pages, reserves the right to take legal action in case of unsolicited sending of advertising information, such as through spam emails.</p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
