<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Terms of Use</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      {{>navbar}}
      <div data-role="header">
        {{>home}}
        <h1>Terms of Use</h1>
      </div>
      <div role="main" class="ui-content justified">
        <p>To be added...</p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
