<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>{{{i18n_terms_of_use}}}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{{i18n_terms_of_use}}}</h1>
        {{>language}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <h3>{{{i18n_terms_of_use1}}}</h3>
        <p>{{{i18n_terms_of_use2}}}</p>
        <ul>
          <li>{{{i18n_terms_of_use3}}}</li>
          <li>{{{i18n_terms_of_use4}}}</li>
          <li>{{{i18n_terms_of_use5}}}</li>
          <li>{{{i18n_terms_of_use6}}}</li>
          <li>{{{i18n_terms_of_use7}}}</li>
        </ul>
        <p>{{{i18n_terms_of_use8}}}</p>
        <h4>{{{i18n_terms_of_use9}}}</h4>
        <p>{{{i18n_terms_of_use10}}}</p>
        <h4>{{{i18n_terms_of_use11}}}</h4>
        <p>{{{i18n_terms_of_use12}}}</p>
        <p>{{{i18n_terms_of_use13}}}</p>
        <p>{{{i18n_terms_of_use14}}}</p>
        <p>{{{i18n_terms_of_use15}}}</p>
        <p>{{{i18n_terms_of_use16}}}</p>
        <h4>{{{i18n_terms_of_use17}}}</h4>
        <p>{{{i18n_terms_of_use18}}}</p>
        <p>{{{i18n_terms_of_use19}}}</p>
        <p>{{{i18n_terms_of_use20}}}</p>
        <p>{{{i18n_terms_of_use21}}}</p>
        <p>{{{i18n_terms_of_use22}}}</p>
        <p>{{{i18n_terms_of_use23}}}</p>
        <p>{{{i18n_terms_of_use24}}}</p>
        <h4>{{{i18n_terms_of_use25}}}</h4>
        <p>{{{i18n_terms_of_use26}}}</p>
        <p>{{{i18n_terms_of_use27}}}</p>
        <p>{{{i18n_terms_of_use28}}}</p>
        <h4>{{{i18n_terms_of_use29}}}</h4>
        <p>{{{i18n_terms_of_use30}}}</p>
        <p>{{{i18n_terms_of_use31}}}</p>
        <p>{{{i18n_terms_of_use32}}}</p>
        <h4>{{{i18n_terms_of_use33}}}</h4>
        <p>{{{i18n_terms_of_use34}}}</p>
        <p>{{{i18n_terms_of_use35}}}</p>
        <p>{{{i18n_terms_of_use36}}}</p>
        <h4>{{{i18n_terms_of_use37}}}</h4>
        <p>{{{i18n_terms_of_use38}}}</p>
        <p>{{{i18n_terms_of_use39}}}</p>
        <h4>{{{i18n_terms_of_use40}}}</h4>
        <p>{{{i18n_terms_of_use41}}}</p>
        <p>{{{i18n_terms_of_use42}}}</p>
        <p>{{{i18n_terms_of_use43}}}</p>
        <p>{{{i18n_terms_of_use44}}}</p>
        <p>{{{i18n_terms_of_use45}}}</p>
        <p>{{{i18n_terms_of_use46}}}</p>
        <p>{{{i18n_terms_of_use47}}}</p>
        <p>{{{i18n_terms_of_use48}}}</p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
