<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Terms of Use</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Terms of Use</h1>
        {{>language}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <h3>General conditions of use</h3>
        <p><b>Creating Interfaces - Tulcea</b> is an open platform for citizen science, which allows citizens to access information about food, water and energy in Tulcea and by uploading personal information related to those mentioned, to help researchers understand how these fields are connected. More specifically, you can find and upload information about:</p>
        <ul>
          <li>local food producers in and around Tulcea</li>
          <li>production services such as bakeries</li>
          <li>consumer preferences regarding e.g. origin of food,</li>
          <li>water suppliers,</li>
          <li>energy consumption of citizens.</li>
        </ul>
        <p>You will find the <b>General Terms and Conditions of Use</b> of the <b>Creating Interfaces - Tulcea</b> websites and services below. These are updated from time to time. By using this website, you agree to the current version of the General Terms and Conditions, even if explicit consent is not required. These Terms of Use are regulated in accordance with the legislation in force in Romania.</p>
        <h4>Data confidentiality</h4>
        <p><b>INCDDD Tulcea</b> takes very seriously its concerns regarding the protection of personal data. These General Conditions define the conditions of use of the <b>Creating Interfaces - Tulcea</b> site by potential visitors or customers. By accessing and browsing this site, you agree to the terms of use described below.</p>
        <h4>RIGHTS OVER THE SITE CONTENT</h4>
        <p><b>The Danube Delta National Research and Development Institute</b> (hereinafter referred to as <b>INCDDD Tulcea</b>), will not transfer ownership of the software applications.</p>

        <p><b>52° North</b> (the creator of this data collection platform) owns full and complete rights to the title and thus all copyrights and patents. You may not redistribute, sell, decompile, disassemble the software in a form that is perceptible to humans.</p>
        <p>The entire content of the <b>Creating Interfaces - Tulcea</b> site is protected by copyright law, all rights reserved. All rights regarding the pages, content and presentation of the site are owned by <b>52° North</b>. No part of this site may be reproduced, modified, displayed, distributed, transmitted, published, marketed, licensed, created, or used in any way without the written consent of <b>52° North</b>.</p>
        <p>Access and use of the page <a href="https://creatinginterfaces.demo.52north.org/tulcea-tool/" target="_blank">https://creatinginterfaces.demo.52north.org/tulcea-tool/</a> are free and aim to allow citizens to access information about food, water and energy in Tulcea and by uploading personal information related to mentioned, to help researchers understand how these fields are connected.</p>
        <p>The information available on <b>Creating Interfaces - Tulcea</b> is of general interest and is made available to users free of charge. The term "user" of this page means any natural or legal person who will access the page. You may copy and print the content of the <b>Creating Interfaces - Tulcea</b> page for your personal, non-commercial use. In any other case, the content <b>Creating Interfaces - Tulcea</b> may not be reproduced, modified or exploited without the explicit consent of the representatives of <b>INCDDD Tulcea</b>.</p>
        <h4>DISCLAIMER OF LIABILITY</h4>
        <p>Despite all efforts and security measures, we cannot rule out 100% that the use of websites and services could cause damage, e.g. due to cyber-attacks and improper use of our technical equipment by third parties. <b>52° North</b> (the creator of this data collection platform) and its representatives are not liable for damages resulting from the use of the Creating Interfaces sites and services - Tulcea, unless they are the result of intent or gross negligence. In the event of injury to life, limbs or health, we do not exclude liability for simple negligence.</p>
        <p>We do not guarantee the updating, correctness, completeness or usefulness of the data and content of Creating Interfaces sites and services - Tulcea. Any use is at your own risk.</p>
        <p><b>INCDDD Tulcea</b> is not responsible for the content of third parties that can be accessed through the website <b>Creating Interfaces - Tulcea</b> - for example, through links to external websites. We separate from all content that has criminal or liability relevance or violates good habits or morals. As soon as we receive references to such content, we will immediately remove it from the <b>Creating Interfaces - Tulcea</b> sites and services.</p>
        <p>The content of the <b>Creating Interfaces - Tulcea</b> website, of the information and other materials presented does not represent a legal consultation within the meaning of Law no. 51/1995.</p>
        <p>The GDPR is a set of rules based on complex principles, which is open to interpretation and also contains many areas in which Member States are invited to intervene. There is currently very little guidance on the implementation of the GDPR and the Supervisory Authorities may have different views than those expressed in this template. Despite our efforts to provide the best services, we cannot anticipate exactly how the Supervisory Authority or the courts will interpret the Regulation.</p>
        <p><b>INCDDD Tulcea</b> intends to implement as correctly as possible Regulation (EU) 2016/679 on the protection of individuals with regard to the processing of personal data and on the free movement of such data and repealing Directive 95/46 / EC.</p>
        <p><b>INCDDD Tulcea</b>, its representatives and consultants do not make any statement, promise or guarantee regarding the accuracy, completeness or adequacy of this content, guidance and advice, do not assume any obligation of result or diligence to any person, excluding in expressly disclaims liability for any costs, losses or damages incurred as a result of using the content.</p>
        <h4>THE OBJECTIVE OF THE SITE CONTENT</h4>
        <p>The objective of the site content is to transmit updated and accurate information, to collect and provide information for a better understanding of the existing or possible interconnections between the Food-Water-Energy elements in Tulcea, the purpose of the site is purely scientific and excludes any component of a commercial nature.</p>
        <p><b>INCDDD Tulcea</b> cannot guarantee that the present pages do not contain errors, and assures that it will do its best to achieve a correct information and remedy any errors.</p>
        <p>Anyone wishing to obtain more information about the site or the Belmont-Creating Interfaces project is asked to contact <b>INCDDD Tulcea</b> through one of the means displayed on the Contact page of the site.</p>
        <h4>PERSONAL INFORMATION</h4>
        <p>When information is requested through this site, it aims to identify the actors within the three elements studied: Food, Water. Energy. Consumer information is collected to identify in the city of Tulcea the general profile of the consumer for a better understanding of needs and a more personalized presentation to local producers and authorities. The study also tries to unite all the actors at administrative level responsible for the three elements studied.</p>
        <p>The nature of the requested information refers to the identification data of the entities included in the three elements studied in Tulcea or with possible connections to them (name, address, telephone numbers, e-mail address), but may include other information, for example information on energy consumption aimed at improving knowledge about the element Energy.</p>
        <p>In order to better meet the needs and questions of users of the site, the information requested through this site will be subject to electronic storage and processing.</p>
        <h4>COMMUNICATION WITH SITE VISITORS</h4>
        <p>The methods by which site visitors initiate contact with us are: e-mail address, telephone number.</p>
        <p>This contact can be made to request additional information about the <b>Belmont-Creating Interfaces</b> project or instructions for using the data collection tool as easily as possible.</p>
        <p>We consider the initiation of the contact by you / represent your consent to be answered back, to be provided with the information or any information requested.</p>
        <h4>LINK WITH OTHER SITES</h4>
        <p>This site may contain links or references to other sites considered useful by <b>INCDDD Tulcea</b> in connection with the content of its site and which are not under its control or guidance. In the case of the use of these links or references, the general conditions of use corresponding to those sites will apply.</p>
        <p>INCDDD Tulcea cannot guarantee / control the actuality / accuracy of the information present on the websites of third parties, to which reference is made from its website.</p>
        <h4>INFORMATION PROVIDED THROUGH THE SITE</h4>
        <p>Any person who visits the <b>Creating Interfaces - Tulcea</b> site and who provides personal data or information through this site expressly and unequivocally agrees to the processing of such data and personal information by INCDDD Tulcea for studies. scientific or other activities undertaken by INCDDD Tulcea and permitted by law, which are not subject to approval by the recipient.</p>
        <p>INCDDD Tulcea will keep the confidentiality of this information.</p>
        <p>Your continued use of this site constitutes your express and unequivocal consent in accordance with the GDPR directives for the protection of individuals with regard to the processing of personal data and on the free movement of such data.</p>
        <p>For any questions regarding the exercise of your rights regarding the use of the site and the protection of use, please contact us through the Contact section of the site.</p>
        <p>Terms and conditions made by the INCDDD Tulcea team.</p>
        <p>How to apply GDPR in Romania.</p>
        <p>If you have any questions or comments regarding the General Conditions of Use of the site, please contact us by e-mail at <b>iulian.nichersu@ddni.ro</b>.</p>

        <p>The sending of advertising and information materials is not permitted, unless expressly requested. In case of unsolicited delivery, we reserve the right to take legal action.</p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
