<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Water</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Water</h1>
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <p>
          On this site, you can find and submit information about water suppliers in and around Tulcea. <br>
        </p>
        <ul data-role="listview" data-inset="true">
          <li>
            <a href="{{rt}}/watersuppliers/new" data-role="button" data-icon="plus">Add water supplier</a>
          </li>
          <li>
            <a href="{{rt}}/watersuppliers" data-role="button" data-icon="bars">List of water suppliers</a>
          </li>
        </ul>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
