<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}{{{i18n_add}}}{{/id}}{{#id}}{{{i18n_edit}}}{{/id}} {{{i18n_watersupplier}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}{{{i18n_add}}}{{/id}}{{#id}}{{{i18n_edit}}}{{/id}} {{{i18n_watersupplier}}}</h1>
        {{#id}}
        {{#page_config.can_delete}}
        <form action="{{svc}}/watersuppliers/{{id}}" method="post" data-ajax="false"
          data-wq-json="true" data-wq-background-sync="false"
          onsubmit="return require('wq/app').confirmSubmit(this, 'Are you sure you want to delete this record?');">
          {{>csrf}}
          <input type=hidden name="_method" value="DELETE">
          <button type="submit" data-icon="delete" class="ui-btn-right">
            Delete
          </button>
        </form>
        {{/page_config.can_delete}}
        {{/id}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
        <form action="{{svc}}/watersuppliers/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">1) {{{i18n_general}}}</li>
            <li class="ui-field-contain">
              <label for='watersupplier-name'>{{{i18n_name}}}</label>
              <input id='watersupplier-name' type='text' data-xform-type='string' name='name' value="{{name}}">
              <p class='error watersupplier-name-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-type'>{{{i18n_type}}}</label>
              <input id='watersupplier-type' type='text' data-xform-type='string' name='type' value="{{type}}">
              <p class='error watersupplier-type-errors'></p>
            </li>
            <li data-role="list-divider">2) {{{i18n_contact}}}</li>
            <li class="ui-field-contain">
              <label for='watersupplier-address'>{{{i18n_address}}}</label>
              <input id='watersupplier-address' type='text' data-xform-type='string' name='address' value="{{address}}">
              <p class='error watersupplier-address-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-phone'>{{{i18n_telephone}}}</label>
              <input id='watersupplier-phone' type='text' data-xform-type='string' name='phone' value="{{phone}}">
              <p class='error watersupplier-phone-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-email'>{{{i18n_email}}}</label>
              <input id='watersupplier-email' type='text' data-xform-type='string' name='email' value="{{email}}">
              <p class='error watersupplier-email-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-website'>{{{i18n_website}}}</label>
              <input id='watersupplier-website' type='text' data-xform-type='string' name='website' value="{{website}}">
              <p class='error watersupplier-website-errors'></p>
            </li>
            <li data-role="list-divider">3) {{{i18n_location_headquarters}}}</li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='vertical'>
                <legend>{{{i18n_location_mode}}}</legend>
                {{#toggle_choices}}
                <input type='radio' id='watersupplier-toggle-{{name}}' name='toggle' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='watersupplier-toggle-{{name}}'>{{{label}}}</label>
                {{/toggle_choices}}
              </fieldset>
              <p class='error watersupplier-toggle-errors'></p>
            </li>
            <li>
              <label for='watersupplier-geometry'>{{{i18n_location}}}</label>
              <input type='hidden' data-xform-type='geopoint' name='geometry'>
              <div class="map edit-map" id='watersupplier-{{id}}{{^id}}new{{/id}}-edit-map'></div>
              <p class='error watersupplier-geometry-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-latitude'>{{{i18n_latitude}}}</label>
              <input id='watersupplier-latitude' type='number' data-xform-type='decimal' name='latitude' step='0.000001' value="{{latitude}}">
              <p class='error watersupplier-latitude-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-longitude'>{{{i18n_longitude}}}</label>
              <input id='watersupplier-longitude' type='number' data-xform-type='decimal' name='longitude' step='0.000001' value="{{longitude}}">
              <p class='error watersupplier-longitude-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-accuracy'>{{{i18n_accuracy}}}</label>
              <input id='watersupplier-accuracy' type='number' data-xform-type='decimal' name='accuracy' step='0.000001' value="{{accuracy}}">
              <p class='error watersupplier-accuracy-errors'></p>
            </li>
            <li data-role="list-divider">4) {{{i18n_water_supply}}}</li>
            <li class="ui-field-contain">
              <label for='watersupplier-bogza'>{{{i18n_bogza}}}</label>
              <input id='watersupplier-bogza' type='number' data-xform-type='decimal' name='bogza' step='0.001' value="{{bogza}}">
              <p class='error watersupplier-bogza-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='watersupplier-mila'>{{{i18n_mila}}}</label>
              <input id='watersupplier-mila' type='number' data-xform-type='decimal' name='mila' step='0.001' value="{{mila}}">
              <p class='error watersupplier-mila-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='vertical'>
                <legend>{{{i18n_irrigation_supply}}}</legend>
                {{#irrigation_supply_choices}}
                <input type='radio' id='watersupplier-irrigation_supply-{{name}}' name='irrigation_supply' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='watersupplier-irrigation_supply-{{name}}'>{{{label}}}</label>
                {{/irrigation_supply_choices}}
              </fieldset>
              <p class='error watersupplier-irrigation_supply-errors'></p>
            </li>
            <li>
              <div class="ui-grid-b">
                <div class="ui-block-a">
                  <a href="{{rt}}/" data-role="button" data-icon="back" data-direction="reverse">
                    {{{i18n_home}}}
                  </a>
                </div>
                <div class="ui-block-b">
                  <a href="{{rt}}/watersuppliers/" data-role="button" data-icon="back" data-direction="reverse">
                    {{{i18n_show_watersuppliers}}}
                  </a>
                </div>
                <div class="ui-block-c">
                  <button type="submit" data-icon="check" data-theme="b">
                    {{{i18n_submit}}}
                  </button>
                </div>
              </div>
              <p class="error watersupplier-errors"></p>
            </li>
          </ul>
        </form>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
