.site-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
}

.partner-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
    float: right;
    display: none;
}

body.ui-overlay-a {
    background-color: #34767a;
}

.ui-header .ui-title {
	margin: 0 20%;
}

.ui-block-a h1 {
  color: #333333;
  font-weight: 300;
  font-size: 35;
  font-style: normal;
}

.map.detail-map {
    height: 700px;
}

.instruction {
  width: 94%;
  position: absolute;
  z-index: 1200;
  top: 80px;
  left: 3%;
}

 /* Make text scrollable */
.instruction > .ui-collapsible-content {
  max-height: 500px;   /* map's height is 700px */
  overflow: auto;
}

/* Enable line breaks when text is too long */
.ui-listview  > li > p, li > label, li > a, .ui-listview > li > a.ui-btn, .ui-btn, .ui-btn > span, .ui-select .ui-btn > span:not(.ui-li-count), .ui-controlgroup-label, p.hint {
  white-space: normal;
}

/* Change size of map layer control */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 60px;
  height: 60px;
}

/* Make sure that map legend is above instruction window (on small screens) */
.leaflet-top.leaflet-right {
  z-index: 1500;
}

/* Formatting of tables */
th {
  text-align: left;
}

td {
  text-align: center;
}

/* Make text justified */
.justified {
  text-align: justify;
}

/* Formatting of kindergarten dish label */
.ui-li-aside {
    position: absolute;
    top: 1em;
    right: 3.333em;
    margin: 0;
    text-align: right;
    font-weight: normal;
    font-size: 0.7em;
}

/* Make manual option in locate app less emphasized */
label[for=producer-toggle-manual] {
  color: gray !important;
}
