.site-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
    padding: 10px;
}

.partner-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
    padding: 10px;
}

body.ui-overlay-a {
    background-color: #34767a;
}

.ui-header .ui-title {
	margin: 0 20%;
}

.ui-block-a h1 {
  color: #333333;
  font-weight: 300;
  font-size: 35;
  font-style: normal;
}

.map.detail-map {
    height: 700px;
}

/* Enable line breaks when text is too long */
.ui-listview  > li > p, li > label, li > a, .ui-listview > li > a.ui-btn, .ui-btn, .ui-btn > span, .ui-select .ui-btn > span:not(.ui-li-count), .ui-controlgroup-label, p.hint {
  white-space: normal;
}

/* Change size of map layer control */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 60px;
  height: 60px;
}

/* Make sure that map legend is above instruction window (on small screens) */
.leaflet-top.leaflet-right {
  z-index: 1500;
}

/* Formatting of tables */
th {
  text-align: left;
}

td {
  text-align: center;
}

/* Make text justified */
.justified {
  text-align: justify;
}

/* Formatting of kindergarten dish label */
.ui-li-aside {
  position: absolute;
  top: 1em;
  right: 3.333em;
  margin: 0;
  text-align: right;
  font-weight: normal;
  font-size: 0.7em;
}

/* Make manual option in locate app less emphasized */
label[for=producer-toggle-manual], label[for=salepoint-toggle-manual], label[for=storagepoint-toggle-manual], label[for=watersupplier-toggle-manual] {
  color: gray !important;
}

/* Move footer to bottom of each page */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #505152; /* Color from Creating Interafces website footer */
  /* Alternative by extending footer to bottom of page: box-shadow: 0 50vh 0 50vh #505152; */
}

/* Make sure the footer does not intersect with main content */
div[role="main"] {
  padding-bottom: 360px;
}

.footer {
  list-style-type: none; /* Remove bullets */
}

/* Set style for modal welcome box */
#welcome {
  display: none;
  z-index: 9999999;
  width: 80%;
  position: absolute;
  top: 220px;
  left: 10%;
  overflow: auto;
}

#welcome.active {
  display: block;
}

.modal-content {
  background-color: white;
}
